
.header{
    height: 76px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    .headerInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 76px;
        img{
            height: 30px;
            width: 30px;
            cursor: pointer;
            margin-right: 20px;
        }
        p{
            color: rgba(255,255,255,1);
            margin-left: 20px;
            font-size: 26px;
            font-style: italic;
        }
    }
}
.menuItens{
    p{
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        color: rgba(255,255,255,1);
    }
}
.menuItensExpand{
    display: none;
}
@media screen and (min-width:700px) {
    .menuItensExpand{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 20px;
        p{
            font-size: 24px;
        }
    } 
    header{
        img{
            display: none;
        }
    }
    .menuItens{
        display: none;
    }
}
@media screen and (min-width:992px) {
    .header{
        .headerInfo{
            width: calc(100% - 200px);
            margin-left: 100px;
        }
    }
}
@media screen and (min-width:1200px) {
    .header{
        .headerInfo{
            p{
                font-size: 28px;
            }
        }
    }
    .menuItensExpand{
        p{
            margin-right: 50px;
        }
    }
}
@media screen and (min-width:1500px) {
    .header{
        .headerInfo{
            width: calc(100% - 400px);
            margin-left: 200px;
            p{
                font-size: 32px;
            }
        }
       
    }
}
@media screen and (min-width:1900px) {
    .header{
        .headerInfo{
            width: 1500px;
            margin-left: calc(50% - 750px);
        }
        
    }
}