.project {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-top: 135px;
  .projectTitle {
    font-weight: 400;
    font-size: 34px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
  }
  .projectDescript {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 30px;
  }
}

@media screen and (min-width: 429px) {
  .project {
    .projectTitle {
      font-size: 48px;
    }
    .projectDescript {
      font-size: 26px;
    }
  }
}
@media screen and (min-width: 820px) {
  .project {
    width: 800px;
    margin-left: calc(50% - 400px);
  }
}
@media screen and (min-width: 992px) {
  .project {
    width: calc(100% - 200px);
    margin-left: 100px;
  }
}
@media screen and (min-width: 1500px) {
  .project {
    width: calc(100% - 400px);
    margin-left: 200px;
    .projectTitle {
      font-size: 55px;
      padding-left: 40px;
    }
    .projectDescript {
      font-size: 32px;
      padding-left: 40px;
    }
  }
}
@media screen and (min-width: 1900px) {
  .project {
    width: 1500px;
    margin-left: calc(50% - 750px);
  }
}
