.about{
    width: 100%;
    clear: both;
    background-image: url('../../assets/img/sobreMobile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.aboutContent{
    width: calc(100% - 40px);
    margin-left: 20px;
    .aboutInfo{
        h2{
            font-weight: 400;
            font-size:30px;
            line-height: 45px;
            color: rgba(255,255,255,1);
            text-align: center;
            margin-bottom: 50px;
            padding-top: 85px;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: rgba(255,255,255,1);
            margin-bottom: 40px;
        }
    }
    .aboutMsg{
        font-size: 24px;
        color: rgba(255,255,255,1);
        line-height: 36px;
        padding-bottom: 80px;
        strong{
            color: #FF7A7A;
        }
    }
}
@media screen and (min-width:429px) {
    .about{
        background-image: url('../../assets/img/sobreTablet.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .aboutContent{
        .aboutInfo,.aboutMsg{
            width: calc(100% - 80px);
            margin-left: 40px;
        }
    }
}
@media screen and (min-width:720px) {
    .aboutContent{
        width: 700px;
        margin-left: calc(50% - 350px);
        .aboutInfo{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 24px;
            }
        }
        .aboutMsg{
            font-size: 24px;
        }
    }
}
@media screen and (min-width:992px) {
    .about{
        background-image: url('../../assets/img/sobreDesktop.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .aboutContent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        .aboutInfo{
            width: auto;
            max-width: 400px;
            margin-right: 80px;
            h2{
                padding-top: 60px;
                margin-bottom: 40px;
                text-align: left;
            }
            p{
                font-size: 20px;
            }
        }
        .aboutMsg{
            width: auto;
            margin-left: 0;
            margin-right: 40px;
            margin-top: 240px;
        }
    }
}
@media screen and (min-width:1200px) {
    .aboutContent{
        width: calc(100% - 100px);
        margin-left: 50px;
        .aboutMsg{
            max-width: 400px;
        }
    }
}
@media screen and (min-width:1500px) {
    .about{
        background-image: url('../../assets/img/sobreDesktopFull.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .aboutContent{
        padding-bottom: 140px;
        width: calc(100% - 400px);
        justify-content: space-between;   
        margin-left: 200px;
        .aboutInfo{
            max-width: 680px;
            h2{
                font-size: 40px;
                padding-top: 150px;
                margin-bottom: 50px;
            }
            p{
                font-size: 24px;
            }
        }
        .aboutMsg{
            max-width: 560px;
        }
    }
}
@media screen and (min-width:1920px) {
    .about{
        width: 1900px;
        margin-left: calc(50% - 950px);

    }
    .aboutContent{
        width: 1500px;
        margin-left: calc(50% - 750px);
    }
}