.contat{
    background: url("../../assets/img/contatoMobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    clear: both;
    .contatInfo{
        width: calc(100% - 40px);
        margin-left: 20px;
        padding-top: 120px;
        h2{
           color: rgba(255,255,255,1);
           font-size: 50px;
           margin-bottom: 20px; 
           text-align: center;
        }
        .contatBarra{
            height: 10px;
            width: 200px;
            margin-left: calc(50% - 100px);
            background: rgba(255,255,255,1);
            box-shadow: 2px 8px 10px 2px rgba(153, 153, 153, 0.25);
            margin-bottom: 100px;
        }
        p{
           font-size: 20px;
           color: rgba(255,255,255,1); 
           line-height: 40px;
           margin-bottom: 70px;
        }
        a:hover{
                color: #FF7A7A;
        }
        img{
            width: 300px;
            margin-left: calc(50% - 150px);
            height: 86px;
            padding-bottom: 190px;
        }
    }
}
@media screen and (min-width:429px) {
    .contat{
        background: url("../../assets/img/contatoTablet.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .contatInfo{
            img{
                margin-left: 0px;
            }
        }
    }
}
@media screen and (min-width:720px) {
    .contat{
        .contatInfo{
            width: 700px;
            margin-left: calc(50% - 350px);
            p{
                font-size: 26px;
            }
        } 
    }
}
@media screen and (min-width:992px) {
    .contat{
        background: url("../../assets/img/contatoDesktop.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .contatInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            margin-left: 0px;
            img{
                margin-top: 150px;
            }
        }
    }
}
@media screen and (min-width:1500px) {
    .contat{
        background: url("../../assets/img/contatoDesktopFull.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .contatInfo{
            width: calc(100% - 400px);
            margin-left: 200px;
        }
    }
}
@media screen and (min-width:1920px) {
    .contat{
        width: 1900px;
        margin-left: calc(50% - 950px);
    }
}
